      <footer class="container white text-center">
        {{#if left}}
        <div class="row">
          <div class="col-md-6">
            {{/if}}
            <hr class="bg-white">
            <p>
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-youtube-square"></i>
              <i class="fab fa-instagram"></i>
            </p>
            <p>&copy;Hartcode Academy 2019</p>
            {{#if left}}
          </div>
        </div>
        {{/left}}
      </footer> 